@using BarcodeReader.Client.Components 
@page "/"
@inject IJSRuntime IJSRuntime

<h4>Blazor BarcodeReader</h4>
<h6>Value: @_barcodeValue</h6>
<BarcodeReaderComponent
  GetValue="((value) => SetValue(value))">
</BarcodeReaderComponent>



@code
{
    private string _barcodeValue = string.Empty;
    private void SetValue(string value)
    {
        _barcodeValue = value;
    }
}